exclude 
-- [directory]
-- [directory2]
end

-- not recommended for programming projects unless you know what you're doing
-- leave as you found if uncertain

heavy b      --specifies b(bytes), kb(kilobytes), mb(megabytes), gb(gigabytes)
-- [limit size of files, can be specified for extensions]
-- .py 100
-- .rs 1024
-- .txt 2000
 end





